<div class="well">
  <form class="" action="index.html" method="post">
    <input type="text" name="name" value="">
    <input type="submit" name="name" value="Search">
  </form>
</div>
<div class="well">
  <h3>Person I'm following</h3>
</div>
