    <!-- about-top -->
    <div class="about-top">
      <!-- container-wrap -->
      <div class="container-wrap">
        <div class="about-info">
          <h2><%= current_user.username %></h2>
        </div>
        <div class="about-grids about-top-grids">
            <div class="col-md-6 about-left">
              <h2>Your Stats</h2>
              <p>
              You currently have <%= get_points %> points </p>


              <p> You have placed <%=current_user.bets.count %> bets </p>

            </div>
            <div class="col-md-6 about-right">
              <img src="../../images/2.png" alt="">
            </div>
            <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- about-top -->
