<div class="about-top">
  <div class="main-content">
    <div class="about-top">

      <div class="about-info">
        <h2>Top 10 Players</h2>
      </div>
    </div>
  <div class="about-team">
    <div class="main-content">
      <table class="table table table-sm table-striped ">
        <thead>
        <tr>
          <th class="align-c">Username</th>
          <th class="align-c">Final Points</th>
        </tr>
        </thead>
        <tboday>
          <% @top_users.each do |user| %>
            <tr>
              <td class="align-c"><%= user.username %></td>
              <td class="align-c"><%= user.final_points %></td>
            </tr>
          <% end %>
        </tboday>
      </table>
    </div>
  </div>
</div>
