<h2>Login</h2>
<form method="POST" action="/users/login">
  <label for = "username">User:</label>
    <input name= "username" type= "text" />
  <label for="password">Password:</label>
    <input name = "password_hash" type="password_hash" />
    <input name= "Login" type= "submit" />
</form>