<div class="well">
  <h3>Upcoming Games</h3>
</div>

<div class="rTable">
  <!-- row heading -->
  <div class="rTableRow">
    <div class="rTableHead"><span style="display:inline-block; width: 100px;"></div>
    <div class="rTableHead"><span style="display:inline-block; width: 150px;"></div>
    <div class="rTableHead"><span style="display:inline-block; width: 150px;"></span></div>
    <div class="rTableHead"><span style="display:inline-block; width: 150px;"></span></div>
    <div class="rTableHead"><span style="display:inline-block; width: 200px;"></div>
    <div class="rTableHead"><span style="display:inline-block; width: 40px;"></span></div>
    <div class="rTableHead"><span style="display:inline-block; width: 40px;"></span></div>
 </div>
 <!-- row data -->
 <a href="games/:id">
  <div class="rTableRow">
    <div class="rTableCell"><span style="display:inline-block; width: 100px;">30 June 2016</span></div>
    <div class="rTableCell"><span style="display:inline-block; width: 150px;"><img src="/images/arizona_diamond_backs.gif"/></div>
    <div class="rTableCell"><span style="display:inline-block; width: 150px;">Cardinals vs Pirates </div>
    <div class="rTableCell"><span style="display:inline-block; width: 150px;"><img src="/images/chicago_cubs.gif"/></div>
    <div class="rTableCell"><span style="display:inline-block; width: 200px;">Pittsburgh Colisseum </div>
    <div class="rTableCell"><span style="display:inline-block; width: 40px;">"3"</div>
    <div class="rTableCell"><span style="display:inline-block; width: 40px;">"2000"</div>
  </div>
</a>
